# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
ls

data.sqlite  images/  index.ipynb  README.md

In [3]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a dataframe with all of the employees including their first name and last name along with the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [10]:
#Your code here
df = pd.DataFrame(c.execute("""select firstname, lastname, city, state
                               from employees left join offices using(officecode)
                               order by firstname, lastname""").fetchall())
df.columns = [x[0] for x in c.description]
df

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA
20       Tom       King         Sydney
21   William  Patterson         Sydney
22   Yoshimi       Kato          Tokyo  Chiyoda-Ku

In [11]:
df = pd.DataFrame(c.execute("""select firstname, lastname
                               from employees
                               order by firstname, lastname""").fetchall())
df.columns = [x[0] for x in c.description]
df

   firstName   lastName
0       Andy     Fixter
1    Anthony        Bow
2      Barry      Jones
3      Diane     Murphy
4   Foon Yue      Tseng
5     George     Vanauf
6     Gerard     Bondur
7     Gerard  Hernandez
8       Jeff   Firrelli
9      Julie   Firrelli
10     Larry       Bott
11    Leslie   Jennings
12    Leslie   Thompson
13      Loui     Bondur
14      Mami      Nishi
15    Martin     Gerard
16      Mary  Patterson
17    Pamela   Castillo
18     Peter      Marsh
19     Steve  Patterson
20       Tom       King
21   William  Patterson
22   Yoshimi       Kato

## Customers and their Orders (a One-to-Many join)

Return a dataframe with all of the customers' first and last names along with details for each of their order numbers, order dates, and statuses.

In [13]:
# Your code here
df = pd.DataFrame(c.execute("""select customername, contactfirstname, contactlastname, ordernumber, orderdate, status
                               from customers left join orders using(customernumber)""").fetchall())
df.columns = [x[0] for x in c.description]
df

,customerName,contactFirstName,contactLastName,orderNumber,orderDate,status
0,Atelier graphique,Carine,Schmitt,10123,2003-05-20,Shipped
1,Atelier graphique,Carine,Schmitt,10298,2004-09-27,Shipped
2,Atelier graphique,Carine,Schmitt,10345,2004-11-25,Shipped
3,Signal Gift Stores,Jean,King,10124,2003-05-21,Shipped
4,Signal Gift Stores,Jean,King,10278,2004-08-06,Shipped
5,Signal Gift Stores,Jean,King,10346,2004-11-29,Shipped
6,"Australian Collectors, Co.",Peter,Ferguson,10120,2003-04-29,Shipped
7,"Australian Collectors, Co.",Peter,Ferguson,10125,2003-05-21,Shipped
8,"Australian Collectors, Co.",Peter,Ferguson,10223,2004-02-20,Shipped
9,"Australian Collectors, Co.",Peter,Ferguson,10342,2004-11-24,Shipped
10,"Australian Collectors, Co.",Peter,Ferguson,10347,2004-11-29,Shipped
11,La Rochelle Gifts,Janine,Labrune,10275,2004-07-23,Shipped
12,La Rochelle Gifts,Janine,Labrune,10315,2004-10-29,Shipped
13,La Rochelle Gifts,Janine,Labrune,10375,2005-02-03,Shipped
14,La Rochelle Gifts,Janine,Labrune,10425,2005-05-31,In Process
15,Baane Mini Imports,Jonas,Bergulfsen,10103,2003-01-29,Shipped
16,Baane Mini Imports,Jonas,Bergulfsen,10158,2003-10-10,Shipped
17,Baane Mini Imports,Jonas,Bergulfsen,10309,2004-10-15,Shipped
18,Baane Mini Imports,Jonas,Bergulfsen,10325,2004-11-05,Shipped
19,Mini Gifts Distributors Ltd.,Susan,Nelson,10113,2003-03-26,Shipped
20,Mini Gifts Distributors Ltd.,Susan,Nelson,10135,2003-07-02,Shipped
21,Mini Gifts Distributors Ltd.,Susan,Nelson,10142,2003-08-08,Shipped
22,Mini Gifts Distributors Ltd.,Susan,Nelson,10182,2003-11-12,Shipped
23,Mini Gifts Distributors Ltd.,Susan,Nelson,10229,2004-03-11,Shipped
24,Mini Gifts Distributors Ltd.,Susan,Nelson,10271,2004-07-20,Shipped
25,Mini Gifts Distributors Ltd.,Susan,Nelson,10282,2004-08-20,Shipped
26,Mini Gifts Distributors Ltd.,Susan,Nelson,10312,2004-10-21,Shipped
27,Mini Gifts Distributors Ltd.,Susan,Nelson,10335,2004-11-19,Shipped
28,Mini Gifts Distributors Ltd.,Susan,Nelson,10357,2004-12-10,Shipped
29,Mini Gifts Distributors Ltd.,Susan,Nelson,10368,2005-01-19,Shipped
...,...,...,...,...,...,...
320,Warburg Exchange,Sven,Ottlieb,None,None,None
321,FunGiftIdeas.com,Violeta,Benitez,10166,2003-10-21,Shipped
322,FunGiftIdeas.com,Violeta,Benitez,10321,2004-11-04,Shipped
323,FunGiftIdeas.com,Violeta,Benitez,10388,2005-03-03,Shipped
324,"Anton Designs, Ltd.",Carmen,Anton,None,None,None
325,"Australian Collectables, Ltd",Sean,Clenahan,10193,2003-11-21,Shipped
326,"Australian Collectables, Ltd",Sean,Clenahan,10265,2004-07-02,Shipped
327,"Australian Collectables, Ltd",Sean,Clenahan,10415,2005-05-09,Disputed
328,Frau da Collezione,Franco,Ricotti,10157,2003-10-09,Shipped
329,Frau da Collezione,Franco,Ricotti,10218,2004-02-09,Shipped
330,West Coast Collectables Co.,Steve,Thompson,10199,2003-12-01,Shipped
331,West Coast Collectables Co.,Steve,Thompson,10215,2004-01-29,Shipped
332,Mit Vergnügen & Co.,Hanna,Moos,None,None,None
333,"Kremlin Collectables, Co.",Alexander,Semenov,None,None,None
334,"Raanan Stores, Inc",Raanan,"Altagar,G M",None,None,None
335,"Iberia Gift Imports, Corp.",José Pedro,Roel,10184,2003-11-14,Shipped
336,"Iberia Gift Imports, Corp.",José Pedro,Roel,10303,2004-10-06,Shipped
337,Motor Mint Distributors Inc.,Rosa,Salazar,10109,2003-03-10,Shipped
338,Motor Mint Distributors Inc.,Rosa,Salazar,10236,2004-04-03,Shipped
339,Motor Mint Distributors Inc.,Rosa,Salazar,10331,2004-11-17,Shipped
340,Signal Collectibles Ltd.,Sue,Taylor,10149,2003-09-12,Shipped
341,Signal Collectibles Ltd.,Sue,Taylor,10219,2004-02-10,Shipped
342,"Double Decker Gift Stores, Ltd",Thomas,Smith,10186,2003-11-14,Shipped
343,"Double Decker Gift Stores, Ltd",Thomas,Smith,10213,2004-01-22,Shipped
344,Diecast Collectables,Valarie,Franco,10207,2003-12-09,Shipped
345,Diecast Collectables,Valarie,Franco,10243,2004-04-26,Shipped
346,Kelly's Gift Shop,Tony,Snowden,10138,2003-07-07,Shipped
347,Kelly's Gift Shop,Tony,Snowden,10179,2003-11-11,Cancelled
348,Kelly's Gift Shop,Tony,Snowden,10360,2004-12-16,Shipped
349,Kelly's Gift Shop,Tony,Snowden,10399,2005-04-01,Shipped

## Customers and their Payments (another One-to-Many join)

Return a dataframe with all of the customers' first and last names along with details about their payments' amount and date of payment. Sort these results in descending order by the payment amount.

In [15]:
# Your code here
df = pd.DataFrame(c.execute("""select customername, contactfirstname, contactlastname, paymentdate, amount
                               from customers left join payments using(customernumber)""").fetchall())
df.columns = [x[0] for x in c.description]
df

,customerName,contactFirstName,contactLastName,paymentDate,amount
0,Atelier graphique,Carine,Schmitt,2003-06-05,14571.44
1,Atelier graphique,Carine,Schmitt,2004-10-19,6066.78
2,Atelier graphique,Carine,Schmitt,2004-12-18,1676.14
3,Signal Gift Stores,Jean,King,2003-06-06,32641.98
4,Signal Gift Stores,Jean,King,2004-08-20,33347.88
5,Signal Gift Stores,Jean,King,2004-12-17,14191.12
6,"Australian Collectors, Co.",Peter,Ferguson,2003-05-20,45864.03
7,"Australian Collectors, Co.",Peter,Ferguson,2003-05-31,7565.08
8,"Australian Collectors, Co.",Peter,Ferguson,2004-03-10,44894.74
9,"Australian Collectors, Co.",Peter,Ferguson,2004-12-15,82261.22
10,La Rochelle Gifts,Janine,Labrune,2004-08-08,47924.19
11,La Rochelle Gifts,Janine,Labrune,2004-11-14,19501.82
12,La Rochelle Gifts,Janine,Labrune,2005-02-22,49523.67
13,Baane Mini Imports,Jonas,Bergulfsen,2003-02-16,50218.95
14,Baane Mini Imports,Jonas,Bergulfsen,2003-10-28,1491.38
15,Baane Mini Imports,Jonas,Bergulfsen,2004-11-04,17876.32
16,Baane Mini Imports,Jonas,Bergulfsen,2004-11-28,34638.14
17,Mini Gifts Distributors Ltd.,Susan,Nelson,2003-04-11,11044.30
18,Mini Gifts Distributors Ltd.,Susan,Nelson,2003-08-15,111654.40
19,Mini Gifts Distributors Ltd.,Susan,Nelson,2003-11-25,45084.38
20,Mini Gifts Distributors Ltd.,Susan,Nelson,2004-03-26,43369.30
21,Mini Gifts Distributors Ltd.,Susan,Nelson,2004-08-28,85410.87
22,Mini Gifts Distributors Ltd.,Susan,Nelson,2004-11-02,55639.66
23,Mini Gifts Distributors Ltd.,Susan,Nelson,2004-12-27,47142.70
24,Mini Gifts Distributors Ltd.,Susan,Nelson,2005-03-05,101244.59
25,Mini Gifts Distributors Ltd.,Susan,Nelson,2005-04-16,83598.04
26,Havel & Zbyszek Co,Zbyszek,Piestrzeniewicz,None,None
27,"Blauer See Auto, Co.",Roland,Keitel,2003-01-28,10549.01
28,"Blauer See Auto, Co.",Roland,Keitel,2003-10-18,24101.81
29,"Blauer See Auto, Co.",Roland,Keitel,2004-03-24,33820.62
...,...,...,...,...,...
267,"Corrida Auto Replicas, Ltd",Martín,Sommer,2004-02-06,22162.61
268,"Corrida Auto Replicas, Ltd",Martín,Sommer,2004-11-15,33145.56
269,Warburg Exchange,Sven,Ottlieb,None,None
270,FunGiftIdeas.com,Violeta,Benitez,2003-11-08,9977.85
271,FunGiftIdeas.com,Violeta,Benitez,2004-11-27,48355.87
272,FunGiftIdeas.com,Violeta,Benitez,2005-04-15,30293.77
273,"Anton Designs, Ltd.",Carmen,Anton,None,None
274,"Australian Collectables, Ltd",Sean,Clenahan,2003-12-10,35505.63
275,"Australian Collectables, Ltd",Sean,Clenahan,2004-07-28,9415.13
276,Frau da Collezione,Franco,Ricotti,2003-10-27,17746.26
277,Frau da Collezione,Franco,Ricotti,2004-02-17,7612.06
278,West Coast Collectables Co.,Steve,Thompson,2003-12-09,7678.25
279,West Coast Collectables Co.,Steve,Thompson,2004-02-13,36070.47
280,Mit Vergnügen & Co.,Hanna,Moos,None,None
281,"Kremlin Collectables, Co.",Alexander,Semenov,None,None
282,"Raanan Stores, Inc",Raanan,"Altagar,G M",None,None
283,"Iberia Gift Imports, Corp.",José Pedro,Roel,2003-11-29,47513.19
284,"Iberia Gift Imports, Corp.",José Pedro,Roel,2004-10-26,3474.66
285,Motor Mint Distributors Inc.,Rosa,Salazar,2003-03-20,25833.14
286,Motor Mint Distributors Inc.,Rosa,Salazar,2004-04-14,5899.38
287,Motor Mint Distributors Inc.,Rosa,Salazar,2004-11-23,45994.07
288,Signal Collectibles Ltd.,Sue,Taylor,2003-09-28,29997.09
289,Signal Collectibles Ltd.,Sue,Taylor,2004-02-29,12573.28
290,"Double Decker Gift Stores, Ltd",Thomas,Smith,2003-12-04,22275.73
291,"Double Decker Gift Stores, Ltd",Thomas,Smith,2004-01-31,7310.42
292,Diecast Collectables,Valarie,Franco,2003-12-26,59265.14
293,Diecast Collectables,Valarie,Franco,2004-05-14,6276.60
294,Kelly's Gift Shop,Tony,Snowden,2003-07-16,32077.44
295,Kelly's Gift Shop,Tony,Snowden,2004-12-31,52166.00
296,Kelly's Gift Shop,Tony,Snowden,2005-05-25,30253.75

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a dataframe with all of the customers' first and last names along with the product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

- Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [10]:
# Your code here
df = pd.DataFrame(c.execute("""select customername, contactfirstname, contactlastname, orderdate, quantityordered
                               from customers  join orders using(customernumber)
                               """).fetchall())
df.columns = [x[0] for x in c.description]
df

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!